Flask==3.0.3
Flask-Cors==4.0.1
firebase-admin==6.5.0
pandas==2.2.3
openpyxl==3.1.2
python-dotenv==1.0.1
pdfplumber==0.11.4
gunicorn==22.0.0
google-genai==1.2.0
groq==0.13.0
requests==2.32.3
python-pptx==1.0.2
